<div align="center">
	<div style="background-color:red;">
	</div>
	<div>
		<h2><marquee> WELCOME TO CATERING SERVICES</marquee></h2> 
		<i> Hathinapuram,Chennai-<u>600044</u></i> <br>
		<i> Contact No-<u>6380357518</u></i>
		<h2> We accept orders for Packed Lunch </h2>
		<img src="../../../assets/images/food 1.jpg" class="myimg"/>
	
		<h3> Veg & Non vegetarian </h3>
	    <ul>
			<li>Breakfast</li>
			<li>Lunch</li>
			<li>Dinner</li>
		</ul> 
	<h4>25% Discount<a href="https://www.google.com/search?q=HOME+MADE+FOODS+in+tamilnadu&ei=CX1JYrHaBrOOseMP8aKX0A0&ved=0ahUKEwjxgpHB3ff2AhUzR2wGHXHRBdoQ4dUDCA4&uact=5&oq=HOME+MADE+FOODS+in+tamilnadu&gs_lcp=Cgdnd3Mtd2l6EAMyBwghEAoQoAE6BwgAEEcQsAM6CggAEEcQsAMQyQM6BwgAELADEEM6BwgAEMkDEAo6BQgAEJIDOgQIABAKOgYIABAWEB46BggAEA0QHjoICAAQCBANEB46CAgAEBYQChAeOggIIRAWEB0QHkoECEEYAEoECEYYAFCDCFisTWCsUWgCcAF4AIABnAOIAdMTkgEKMC4xMi4xLjAuMZgBAKABAcgBCsABAQ&sclient=gws-wiz"target="blank" > Order Now </a></h4>	
		</div>
	</div>
	