div{
    background-image: linear-gradient(to right top, #5dced8, #5cd8c6, #79e0aa, #a5e38a, #d8e16e);
    }
    img{
        width:30%;
        height:30%;
    }
    .myimg{
    width:400px;
    height:40%;
    }