<p>employee works!</p>
<div>
<h1>REGISTERATION FORM</h1>
			<form action="" method="GET">
			FIRST NAME:<input type="text" name="fname" id="fname"/><br>
			LAST NAME:<input type="text" name="lname" id="lname"/><br>
			FATHER NAME:<input type="text" name="fathername" id="fathername"/><br>
            EMAIL ID:<input type="text" name="emailid" id="emailid"/><br>
			MOBILE NO:<input type="number" name="mobileno" id="mobileno"/><br>
			GENDER:<input type="radio" name="gender" id="gmale"/>MALE
					<input type="radio" name="gender" id="gfemale"/>FEMALE
					<input type="radio" name="gender" id="gothers"/>OTHERS<br>
		    DOB:<input type="date" name="dob" id="dob"/><BR>
            PAN NO:<input type="text" name="panno" id="panno"/>
            ADHAR NO:<input type="number" name="adharno" id="adharno"/>

            BLOOD GROUP:<input type="text" name="bloodgroup" id="bloodgroup"/><br>
			CURRENT CITY:<input type="text" name="city" id="city"/><br>
			
			PREVIOUSLY WORKING:<input type="text" name="working" id="working"/><br>
            <input type="submit" name="register" id="register" value="REGISTER"/>
			<input type="reset" name="cancel" id="cancel" value="CANCEL"/><br>
			</form>
			</div>		
