<div align="center">
    <h1> CATERING SERVICES</h1>
    <table align="left">
        <tr>
            <td> <a [routerLink]="['/employee']"> Employee </a> </td>
            <td><button type="button" (click)="gotoLogin()">Sign In</button></td>
            <td><button type="button" (click)="gotoEmployee()">Register</button></td>
            <td><button type="button" (click)="gotomenu()">Menu</button> </td>
            <td><button type="button" (click)="gotoabout()">About</button> </td>
        </tr>
    </table>
</div>
