<h3><b>SOUTH INDIAN BREAKFAST</b></h3>
      <p>Can be customized to your Budget, Requirements & Expectations</p>
     <table align = "center"><tr><td> BREAKFAST MENU #
      <ul>
         <li>Idly,Pongal,Vada,Dosa,<br>
          Chutney,Sambar,Sweet,Coffee </li>
     </ul> </td>
       <td>BREAKFAST MENU #2
      <ul>
         <li> Idly,Pongal,Vada,Dosa,Poori&Potato<br>
           Chutney, Sambar, Sweet, Coffee
            </li>
      </ul></td>
      </tr>
     </table>
     <h3><b>SOUTH INDIAN LUNCH</b></h3>
    <table align = "center"><tr><td> LUNCH MENU #1
     <ul>
        <li>Sweet,Vadai,Chips,Rice,Sambar,<br> 
          Vatha Kara Kulambu,Rasam,Aviyal,<br>
          Poriyal,Kootu,Curd,Payasam,Pickle,<br>
          Appalam, Banana.</li>
    </ul> </td>
      <td>LUNCH MENU #2
     <ul>
        <li> Sweet, Vadai, Chips, Rice, Veg <br> 
          Briyani,Sambar, Vatha Kara Kulambu, <br> 
          Rasam,Aviyal,Poriyal,Kootu,Curd, <br>
          Pickle, Appalam,Banana, Ice Cream
          
           </li>
     </ul></td>
     </tr>
    </table>
  <h3><b>GRAND DINNER</b></h3>
 <table align = "center"><tr><td>DINNER MENU #1
  <ul>
     <li>Sweet, Chilly Gobi, Chips, Small<br>
       Poori & Channa, Veg Briyani, Veg <br>
       Kurma, Rice, Sambar, Rasam,Poriyal, <br>
       Kootu,Curd,Payasam, Pickle,Appalam,<br>
       Banana, Ice Cream, Beeda 
    </li>
 </ul> </td>
   <td>DINNER MENU #2
  <ul>
     <li> Sweet, Chilly Gobi, Chips, Small <br>
      Poori & Channa,Veg Briyani,Idiyappam, <br>
      Veg Kurma, Bisbellabath, Rice, Rasam,<br>
      poriyal, Kootu, Curd, Payasam, Pickle,<br>
      Appalam,Banana, Ice Cream, Beeda <br>
        </li>
  </ul></td>
  </tr>
 </table>
